body {
    font-family: Courier New, monospace;
}
code {
    font-size: 1.3em;
    background: #1e1e27;
}
code pre {
    font-size: 1.1em;
    padding: 0.5em;
}
code pre .linenos {
    margin-right: 1em;
}
.date {
    color: #b0abab;
    margin: 0;
}

p img {
    float: left;
    margin-left: 0.25em;
    margin-right: 1em;
}
p::after {
    content: '';
    display: block;
    clear: both;
}
header {
    padding: 1em;
}
header h1 {
    color: #76e48c;
    margin: 16px 0 0 32px;
    font-size: 20px;
}
header nav ul {
    display: flex;
    flex-direction: row-reverse;
    list-style-type: none;
    margin: 0;
}
header nav ul li {
    padding: 0 1em;
}
footer {
    text-align: center;
    font-size: 12px;
}
