<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>highly experimental lemonade $if(title)$ - $title$ $endif$</title>  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/dist/css/water.css"/>
  <link rel="stylesheet" href="/dist/css/style.css"/>
  <link rel="stylesheet" href="/dist/css/highlight.css"/>
</head>
<body>
  <header>
      <h1>highlyexperimentallemonade</h1>
      <nav>
          <ul>
              <li><a href="/dist/home.html">home</a></li>
              <li><a href="/dist/posts.html">posts</a></li>
              <li><a href="/dist/about.html">about</a></li>
          </ul>
      </nav>
  </header>
$if(title)$
<h1 class="title">$title$</h1>
$if(subtitle)$
<p class="subtitle">$subtitle$</p>
$endif$
$if(date)$
<p class="date">$date$</p>
$endif$
$endif$
<main>
$body$
</main>
<footer>made by me</footer>
</body>
</html>
